<div class="h-screen w-screen grid grid-cols-12">
  <aside class="col-span-2 h-full overflow-x-hidden overflow-y-auto bg-teal-900 text-white relative">
    <header class="py-4 px-8 mb-1 border-b border-solid border-teal-800 sticky top-0">
      <span class="font-semibold text-2xl">RxJS Practice</span>
    </header>
    <nav>
      <ul *ngFor="let navItem of navItems">
        <li
          class="py-2 px-8 transition-all duration-200 cursor-pointer text-lg relative"
          [ngClass]="isActive(navItem.route) ? 'bg-teal-700 active': 'hover:bg-teal-800'"
          (click)="navigateTo(navItem.route)">
          {{navItem.name}}
        </li>
      </ul>
    </nav>
  </aside>

  <main class="col-span-10 h-full overflow-x-hidden overflow-y-auto bg-gray-100">
    <router-outlet />
  </main>
</div>
