{
  "plugins": [
    "prettier-plugin-tailwindcss"
  ],
  "bracketSameLine": true,
  "bracketSpacing": true,
  "printWidth": 120,
  "singleQuote": true,
  "singleAttributePerLine": true,
  "jsxSingleQuote": true
}
